.header-container{
    position: relative;
    height:800px;
    background: url(../../../images//chair-bg.png);
    background-size: cover;
}
.header-container::after{
    content: "";
    height: 700px;
    background:#3A4256 ;
    width:30%;
    top:0;
    right:0;
    position: absolute;
    z-index: -1;
}
