.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-brand{
  color: #1cc7c1;
  font-weight: bold;
}
.btn-brand{
  color: white;
  background: #1cc7c1;
  font-weight: bold;
}
.btn-brand :hover{
  color: white;
  background: #606b6b;
  font-weight: bold;
}

.card-body{
  border: none;
}